<ion-header>
    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="register-content" text-center>
    <div class="register-box">
        <form [formGroup]="registerForm" novalidate>
            <ion-list>
                <ion-item>
                    <ion-label floating>First Name</ion-label>
                    <ion-input class="input-text" [class.invalid]="!registerForm.controls['firstName'].valid  && registerForm.controls['firstName'].touched" [formControl]="registerForm.controls['firstName']"></ion-input>
                </ion-item>
                <ion-item *ngIf="!registerForm.controls['firstName'].valid  && registerForm.controls['firstName'].touched">
                    <p class="invalid-text">Please enter a valid first name.</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Last Name</ion-label>
                    <ion-input class="input-text" [class.invalid]="!registerForm.controls['lastName'].valid  && registerForm.controls['lastName'].touched" [formControl]="registerForm.controls['lastName']"></ion-input>
                </ion-item>
                <ion-item *ngIf="!registerForm.controls['lastName'].valid  && registerForm.controls['lastName'].touched">
                    <p class="invalid-text">Please enter a valid last name.</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Phone Number</ion-label>
                    <ion-input class="input-text" [class.invalid]="!registerForm.controls['phoneNumber'].valid  && registerForm.controls['phoneNumber'].touched" [formControl]="registerForm.controls['phoneNumber']"></ion-input>
                </ion-item>
                <ion-item *ngIf="!registerForm.controls['phoneNumber'].valid  && registerForm.controls['phoneNumber'].touched">
                    <p class="invalid-text">Please enter a valid last phone number.</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" class="input-text" [class.invalid]="!registerForm.controls['password'].valid  && registerForm.controls['password'].touched" [formControl]="registerForm.controls['password']"></ion-input>
                </ion-item>
                <ion-item *ngIf="!registerForm.controls['password'].valid  && registerForm.controls['password'].touched">
                    <p class="invalid-text">Password is required.</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input class="input-text" [class.invalid]="!registerForm.controls['email'].valid  && registerForm.controls['email'].touched" [formControl]="registerForm.controls['email']" type="email"></ion-input>
                </ion-item>
                <ion-item *ngIf="!registerForm.controls['email'].valid  && registerForm.controls['email'].touched">
                    <p class="invalid-text">Please enter a valid email address.</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Address</ion-label>
                    <ion-textarea class="input-text" [class.invalid]="!registerForm.controls['address'].valid  && registerForm.controls['address'].touched" [formControl]="registerForm.controls['address']"></ion-textarea>
                </ion-item>
                <ion-item *ngIf="!registerForm.controls['address'].valid  && registerForm.controls['address'].touched">
                    <p class="invalid-text">Address cannot be empty.</p>
                </ion-item>
                <ion-item>
                    <ion-label>State</ion-label>
                    <ion-select [formControl]="registerForm.controls['state']" (ionChange)="changeCity()">
                        <ion-option *ngFor="let state of getStates(config.cityStates)" [value]="config.cityStates[state].value">{{config.cityStates[state].name}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>City</ion-label>
                    <ion-select [formControl]="registerForm.controls['city']">
                        <ion-option *ngFor="let city of getCities()" [value]="city">{{city}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <ion-row>
                <ion-col class="signup-col">
                    <button class="register-btn" ion-button full [disabled]="!registerForm.valid" (click)="register($event)">Register</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>
