page-home {
    .toolbar-background {
        background: #fff;
        border-color: transparent;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 1rem;
    }
    .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 38px 0;
        font-size: 85pt;
    }
    b {
        font-weight: 500;
    }
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
        b {
            color: #000000;
        }
    }
    .li-item {
        color: #000000;
        text-align: left;
    }
    .welcome-user {
        font-size: 18px;
    }
}
